## OS X
.DS_Store

## Build generated
.build/
build/
DerivedData
OCMock.framework

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa

## Dependency Managers
Pods/
Carthage/Build
Carthage/Checkouts
docs/
./Bolts

## AppCode
.idea/

# VSC
.project

# Node
node_modules/
npm-debug.log

# Ruby
.bundle
Vendor/
