[submodule "Vendor/Bolts-ObjC"]
	path = Vendor/Bolts-ObjC
	url = https://github.com/BoltsFramework/Bolts-iOS.git
[submodule "Vendor/OCMock"]
	path = Vendor/OCMock
	url = https://github.com/erikdoe/ocmock.git
[submodule "Vendor/xctoolchain"]
	path = Vendor/xctoolchain
	url = https://github.com/ParsePlatform/xctoolchain.git
