[submodule "Vendor/xctoolchain"]
	path = Vendor/xctoolchain
	url = https://github.com/ParsePlatform/xctoolchain.git
[submodule "Carthage/Checkouts/Bolts-iOS"]
	path = Carthage/Checkouts/Bolts-iOS
	url = https://github.com/BoltsFramework/Bolts-iOS.git
[submodule "Carthage/Checkouts/OCMock"]
	path = Carthage/Checkouts/OCMock
	url = https://github.com/erikdoe/OCMock.git
