defaults: &defaults
    macos:
      xcode: "9.0"
    shell: /bin/bash --login -eo pipefail
aliases:
  - &prepare
    | 
      git submodule update --init --recursive
      gem install bundler
      bundle install
  - &filter-only-master
    branches:
      only:
        - master

version: 2
jobs:
  ios:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: bundle exec rake test:ios
      - run: bundle exec rake test:facebook_utils:ios
      - run: bundle exec rake test:twtitter_utils:ios
  macos:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: bundle exec rake test:macos
  deployment:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: |
            xcrun simctl create "Apple TV 1080p" com.apple.CoreSimulator.SimDeviceType.Apple-TV-1080p com.apple.CoreSimulator.SimRuntime.tvOS-11-0
            bundle exec rake test:deployment
  jazzy:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: ./Scripts/jazzy.sh
  carthage:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: bundle exec rake test:carthage
  cocoapods:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: bundle exec rake test:cocoapods
  publish-cocoapods:
    <<: *defaults
    steps:
      - checkout
      - run: *prepare
      - run: ./Scripts/publish.sh

workflows:
  version: 2
  pull_request:
    jobs:
      - ios
      - macos
      - jazzy
      - carthage
      - cocoapods
  nightly:
    jobs:
      - deployment
      - cocoapods:
          requires:
            - deployment
      - carthage:
          requires:
            - deployment
    triggers:
      - schedule:
          cron: "0 1 * * *"
          filters: *filter-only-master
  publish:
    jobs:
      - hold:
          type: approval
          filters: *filter-only-master
      - publish-cocoapods:
          requires:
            - hold
          filters: *filter-only-master
