//
// Copyright (c) 2015-present, Parse, LLC.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

// Common configuration for iOS-Dynamic frameworks


SUPPORTED_PLATFORMS                    = iphonesimulator iphoneos
VALID_ARCHS[sdk=iphoneos*]             = arm64 armv7 armv7s
VALID_ARCHS[sdk=iphonesimulator*]      = i386 x86_64

ENABLE_BITCODE               = NO
ENABLE_BITCODE[sdk=iphoneos*]   = YES
ENABLE_BITCODE[sdk=iphonesimulator*]      = YES

// Dynamic linking uses different default copy paths
LD_RUNPATH_SEARCH_PATHS         = $(inherited) '@executable_path/Frameworks' '@loader_path/Frameworks'

DYLIB_INSTALL_NAME_BASE				  = @rpath

MACH_O_TYPE                     = mh_dylib
CLANG_MODULES_AUTOLINK          = YES
IPHONEOS_DEPLOYMENT_TARGET      = 8.0
ONLY_ACTIVE_ARCH                = NO
