//
// Copyright (c) 2015-present, Parse, LLC.
// All rights reserved.
//
// This source code is licensed under the BSD-style license found in the
// LICENSE file in the root directory of this source tree. An additional grant
// of patent rights can be found in the PATENTS file in the same directory.
//

#include "Shared/Platform/macOS.xcconfig"
#include "Shared/Product/LogicTests.xcconfig"

PRODUCT_NAME = ParseUnitTests-macOS
PRODUCT_MODULE_NAME = ParseUnitTests
PRODUCT_BUNDLE_IDENTIFIER = com.parse.unit.macOS

INFOPLIST_FILE = $(SRCROOT)/Tests/Resources/ParseUnitTests-OSX-Info.plist

USER_HEADER_SEARCH_PATHS = $(inherited) $(PARSE_DIR)/Parse/Internal/**

// TODO: (nlutsenko) Cleanup source code so we can safely ignore local variable shadow warnings.
GCC_WARN_SHADOW = NO
