name: ci
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ '**' ]
env:
  CI_XCODE_11: '/Applications/Xcode_11.7.app/Contents/Developer'
  CI_XCODE_13: '/Applications/Xcode_13.1.app/Contents/Developer'

jobs:
  release-dry-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false
      - uses: actions/setup-node@v2
        with:
          node-version: 14
      - run: npm ci
      - run: npx semantic-release --dry-run --branches "${GITHUB_REF#refs/*/}"
      - name: Determine tag for next release
        run: echo $(git describe --tags --abbrev=0 --exact-match || echo '')

  ios:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gems
      id: cache-gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Submodules and Bundle Install
      run: |
        git submodule update --init --recursive
        sudo gem install bundler
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake test:ios
      env:
        DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)

  macos:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gems
      id: cache-gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Submodules and Bundle Install
      run: |
        git submodule update --init --recursive
        sudo gem install bundler
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Create and set the default keychain
      run: |
        security create-keychain -p "" temporary
        security default-keychain -s temporary
        security unlock-keychain -p "" temporary
        security set-keychain-settings -lut 7200 temporary
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake test:macos
      env:
        DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)

  facebook_utils:
    needs: parseui
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gems
      id: cache-gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Submodules and Bundle Install
      run: |
        git submodule update --init --recursive
        sudo gem install bundler
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake test:facebook_utils:ios
      env:
        DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)

  twitter_utils:
    needs: parseui
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gems
      id: cache-gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Submodules and Bundle Install
      run: |
        git submodule update --init --recursive
        sudo gem install bundler
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake test:twitter_utils:ios
      env:
        DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)

  parseui:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v2
    - name: Cache Gems
      id: cache-gems
      uses: actions/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Submodules and Bundle Install
      run: |
        git submodule update --init --recursive
        sudo gem install bundler
        bundle config set path 'vendor/bundle'
        bundle install
    - name: Build-Test
      run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake test:parseui:all
      env:
        DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
    - name: Send codecov
      run: bash <(curl https://codecov.io/bash)

  cocoapods:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: CocoaPods
        run: set -o pipefail && env NSUnbufferedIO=YES pod lib lint --allow-warnings --verbose
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}

  upload-assets:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Gems
        id: cache-gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Submodules and Bundle Install
        run: |
          git submodule update --init --recursive
          sudo gem install bundler
          bundle config set path 'vendor/bundle'
          bundle install
      - name: Build Release
        run: set -o pipefail && env NSUnbufferedIO=YES bundle exec rake package:release
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_11 }}

  docs:
    needs: parseui
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Cache Gems
        id: cache-gems
        uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gem-
      - name: Submodules and Bundle Instal
        run: |
          git submodule update --init --recursive
          sudo gem install bundler
          bundle config path vendor/bundle
          bundle install
      - name: Create Jazzy Docs
        run: |
          ./Scripts/jazzy.sh
        env:
          DEVELOPER_DIR: ${{ env.CI_XCODE_13 }}
